<%- include('layouts/login-layout') %>

<% var errorMessage = errorMessage|| ''; %>
<% var firstName = firstName|| ''; %>
<% var lastName = lastName|| ''; %>
<% var username = username|| ''; %>
<% var email = email|| ''; %>
    <div class="loginContainer">
        <h1>Register</h1>
        <form id="registerForm" method="post" onsubmit="event.preventDefault(); validateForm();">
            
                <p class="errorMessage"><%= errorMessage %></p>
         
            
            <input type="text" name="firstName" placeholder="First name" value="<%= firstName %>" required />
            <input type="text" name="lastName" placeholder="Last name" value="<%= lastName %>" required />
            <input type="text" name="username" placeholder="Username" value="<%= username %>" required />
            <input type="email" name="email" placeholder="Email" value="<%= email %>" required />
            <input id="password" type="password" name="password" placeholder="Password" required />
            <input id="passwordConf" type="password" name="passwordConf" placeholder="Confirm password" required />
            <input type="submit" value="Register" />
        </form>
        <a href="/login">Already have an account? Login here.</a>
    </div>

    <script>
        var passwordField = document.getElementById("password");
        var passwordConfirmField = document.getElementById("passwordConf");
        var form = document.getElementById("registerForm");

        function validateForm() {
            if (passwordField.value != passwordConfirmField.value) {
                alert("Passwords do not match. Please try again.");
            } else {
                form.submit();
            }
        }
    </script>
